@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --main-color:#d3ad7f ;
    --bg:#010103;
    --black:#13131a;
    --light-color:#666;
    --border:.1rem solid rgba(255,255,255,.3);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5% ;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;

}

html::-webkit-scrollbar-track{
   background: transparent;
    
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-right: 5rem;
    
}
 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #d3ad7f;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
 }

 .btn:hover{
    background: var(--main-color);
 }

body{
    background:var(--bg);
    
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:var(--border);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
}
 
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--main-color);
    text-transform: uppercase;
}

header .logo span{
    color: var(--main-color);

}


/* ion-icon{
    height: 2rem;
    size: 6rem;
} */

.header .navbar a{
    color:#fff;
    font-size: 1.6rem;
    margin:0 1rem;

}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}

.header .icons div{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    padding: 1.5rem 2rem;
    background:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    width: 50rem;
    height: 5rem;
    transform: scaleY(0);
    transform-origin: top;
    
}

.header .search-form.active{
    transform: scaleY(1);
}


.header .search-form input{
    height: 100%;
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color:#fff;
    font-size: 1.6rem;
    text-transform: none;
    font-size: 1.6rem;

    

}

header .search-form label{
    color: var(--bg);
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;

}

header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-item-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background:#fff;
    padding: 0 1.5rem;

}

.header .cart-item-container.active{
    right: 0;
}

.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.header .cart-item-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--bg);
}

.header .cart-item-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-item-container .cart-item img{
    height: 7rem;
}

.header .cart-item-container .cart-item .content h3{
   font-size: 2rem;
   color: var(--bg);
   padding-bottom: .5rem;

}

.header .cart-item-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
    
 }

.header .cart-item-container .btn{
    width: 100%;
    text-align: center;

}


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0; right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
    padding-top: 20rem;
    border-color: var(--bg);
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--bg);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;

}

.login-form-container form .box {
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--bg);
    text-transform: none;

}


.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
   
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;

}


.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;

}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--black);
    font-size: 1.5rem;

}

.login-form-container form p a{
    color: var(--main-color);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--bg);
    cursor: pointer;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(homeimg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content{
    max-width: 60rem;

}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8rem;
    padding: 1rem 0;
    color: #fff;
    
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;

}

.about .row .image{
    flex: 1 1 45rem;

}

.about .row .image img{
   width: 100%;
    
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);

}

.menu .box-container .box img{
    height: 10rem;

}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;

}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    /* padding: 5rem 0; */

}

.menu .box-container .box .price span{
    
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;

}

.menu .box-container .box:hover{
    background: #fff;
}

.menu .box-container .box:hover > *{
    color: var(--bg);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;

}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;

}

.products .box-container .box .icons a:hover{
    background: var(--main-color);

}

.products .box-container .box .image{
    padding: 2.5rem 0;

}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;

}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through ;
    font-weight: lighter;
    font-size: 1.5rem;
}

.newsletter{
    /* background: url(cnimg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;

    
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;

}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.newsletter{
    background-position: right;
}

.newsletter form{
    margin-left: 0;
    max-width: 100%;

}

.review .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;
    width: 35rem;
   height: 45rem;
   

}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
    padding: 2rem;

}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}

.review .box-container .box h3{
    padding: 1rem;
    font-size: 2rem;
    color: #fff;

}

.review .box-container .box .stars i{
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--main-color);

}

.contact .row{
    display: flex;
    background: var(--bg);
    flex-wrap: wrap;
    gap: 1rem;

}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;

}

.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputbox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}



.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}
 
.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow-x: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
   object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;

}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5rem;
    color: #fff;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #fff;
    padding: 1rem 0;
}

/* FOOTER SECTION START */


.footer .box-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--main-color);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%;
}

.footer .share{
    padding: 1rem;
    text-align: center;

}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 0 .3rem;
    border-radius: 50%;

}

.footer .share a:hover{
    background-color: var(--main-color);

}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 2.5rem;
    text-align: center;
    padding-bottom: 100px;
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
   
}

.footer .credit span{
    color: var(--main-color);
   
}

 /* FOOTER SECTION END */

 /* PAYMENT SECTION START */

header .payment{
    width: 100vw;
    min-height: 100vh;
    background: #d3ad7f;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    background: white;
    max-width: 800px;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}

.left{
    flex-basis: 50%;
}
.right{
    flex-basis: 50%;
}
form{
    padding: 1rem;
}
form input[type="text"]{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
    outline: none;
}


 /* PAYMENT SECTION END */

















/* MEDIA QUERIES */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem;
        
    }
}

@media (max-width:786px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        

    }

    .header .navbar.active{
        right:0;
    }
    .header .navbar a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        background: #fff;

    }
    .header .search-form{
        width: 90%;
        right: 2rem;

    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;

    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}